// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

:root {
  --base: #00a3ff;
  --spacing: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
}

.hl {
  color: var(--base);
}

/*
  misc styles, nothing to do with CSS variables
*/
body {
  text-align: center;
  background: #fff;
  color: #777;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 50px;
}

ul {
  list-style: none;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}
